@import 'variables';
$primary-color:rgb(95, 88, 88) ;

$secondary-color : #3498db;
$links : black;
$links-hover:bisque;
body {
    background-color: $primary-color;
    font-family: Arial, sans-serif;
  }
h1{
    color: $secondary-color;
a{
    color: $links;
    
    :hover{
        color: $links-hover;
    }
}
}